In [1]:
mesg = "hello world"
mesg

'hello world'

In [2]:
print(mesg)

hello world

In [3]:
print(mesg,mesg)

hello world hello world

In [4]:
print(mesg+mesg)

hello worldhello world

In [6]:
print(mesg,"\n")
print(mesg)

hello world

hello world

In [9]:
from sys import exit

In [13]:
print("going to quit")
exit()
print("never got here")

going to quit

SystemExit:

In [14]:
help(exit)

Help on built-in function exit in module sys:

exit(status=None, /)
    Exit the interpreter by raising SystemExit(status).

    If the status is omitted or None, it defaults to zero (i.e., success).
    If the status is an integer, it will be used as the system exit status.
    If it is another kind of object, it will be printed and the system
    exit status will be one (i.e., failure).

In [16]:
a_val = ord('a')
print(a_val)

97

In [20]:
b_chr = chr(99)
print(b_chr)

c

In [21]:
answer = input("Enter a number : ")

Enter a number : 9

In [22]:
print(type(answer))

<class 'str'>

In [23]:
print(answer)

9

In [24]:
var_num = int(input("enter a new number : "))
print(type(var_num))
print(var_num)

enter a new number : 67
<class 'int'>
67

In [29]:
my_val = int(input("Give me a number : "))
if(my_val > 0 ):
    print("Got a good value!")
    if(my_val<5):
        print("very small")
    elif(my_val < 10 ):
        print("Its a kind of small!")
    elif(my_val < 100):
        print("Its is medium in size!")
    elif(my_val < 1000):
        print("It is a big one")
    else:
        print("Its a whooper :",my_val )

print("all done!")

Give me a number : 500
Got a good value!
It is a big one
all done!

In [30]:
#while loop
counter = 8
while(counter >= 0):
    print("count is now:",counter)
    counter -= 1
print("blast off!")

count is now: 8
count is now: 7
count is now: 6
count is now: 5
count is now: 4
count is now: 3
count is now: 2
count is now: 1
count is now: 0
blast off!

In [31]:
for index in range(0,12,2):
    print(index)

0
2
4
6
8
10

In [34]:
for i in range(10,0,-1):
    print(i)
else:
    print("finihsed the loop")

10
9
8
7
6
5
4
3
2
1
finihsed the loop

In [ ]:
a= range

In [39]:
import numpy as np

In [41]:
a = np.arange(10,0,-1)
print(a)

[10  9  8  7  6  5  4  3  2  1]

In [43]:
my_rng = range(10)
print(my_rng)

range(0, 10)

In [44]:
print("the range is : ", my_rng)

the range is :  range(0, 10)

In [46]:
print("the list of my range is : ",list(my_rng))

the list of my range is :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
my_nums = np.arange(10)
print(my_nums)

[0 1 2 3 4 5 6 7 8 9]

In [50]:
for index in np.arange(0,1,0.1):
    print(index)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

In [52]:
print("linspace in a for loop")
for val in np.linspace(0,2,5):
    print(val)
print("enumerating ...")
alphs = ['a','b','c']
for index,val in enumerate(alphs):
    print(index,val)

linspace in a for loop
0.0
0.5
1.0
1.5
2.0
enumerating ...
0 a
1 b
2 c

In [53]:
#Creating list
my_list = []
print(my_list)

[]

In [54]:
#create a list with lots of different things in it
my_list = [1,4.5,"book",2-8j]
print(my_list)

[1, 4.5, 'book', (2-8j)]

In [55]:
for index in range(len(my_list)):
    print("Entry",index,"is",my_list[index])

Entry 0 is 1
Entry 1 is 4.5
Entry 2 is book
Entry 3 is (2-8j)

In [56]:
my_list.append("new thing")
print(my_list)

[1, 4.5, 'book', (2-8j), 'new thing']

In [57]:
#use extend to combine list
new_list = [0,8,11.2]
my_list.extend(new_list)
print(my_list)

[1, 4.5, 'book', (2-8j), 'new thing', 0, 8, 11.2]

In [2]:
##### Functions #######
def crazy_mult(left_num,right_num):
    answer = left_num * right_num
    return answer,left_num,right_num
    
#function ends with outdent
ans,was_left,was_right = crazy_mult(3,4)
print("multiplied",was_left,"by",was_right,"and got",ans)

multiplied 3 by 4 and got 12

In [4]:
#function ends with outdent
ans,was_left,was_right = crazy_mult(3.5,2) #a floating point input
print("multiplied",was_left,"by",was_right,"and got",ans)

multiplied 3.5 by 2 and got 7.0

In [6]:
def loc_function(in_val):         #now a function that will use it Danger!
    my_int = -5                    #we think we are changing it!
    tmp = in_val + my_int          #we will use the change locally ... 
    return tmp
my_int = 23
print("function output:",loc_function(3)) 
print("my_int:",my_int)

function output: -2
my_int: 23

In [8]:
def global_function(in_val):       #now a function that will use it Danger!
    global my_int
    my_int = -5                    #we think we are changing it!
    tmp = in_val + my_int          #we will use the change locally ... 
    return tmp
my_int = 23
print("global output:",global_function(3))   #value changes!
print("my_int:",my_int)

global output: -2
my_int: -5

In [10]:
def mod_list(in_list):
    in_list[0] = 9
    in_list.append(6)
    in_list.pop(1)
    in_list = ['a','b','c']  #its local here,so should not be changed, but we changed!
    print("in function mod_list:",in_list)
    return in_list

top_list = [1,2,3,4,5]
print("original list:",top_list)
got_list = mod_list(top_list)
print("new list:",top_list)
print("returned",got_list)

original list: [1, 2, 3, 4, 5]
in function mod_list: ['a', 'b', 'c']
new list: [9, 3, 4, 5, 6]
returned ['a', 'b', 'c']

In [11]:
#Comtrolling precision
my_float = 34.8456
print("round to 2 past the decimal:", round(my_float,2))
print("round to 1 past the decimal:", round(my_float,1))
print("round to 0 past the decimal:", round(my_float,0))
print("round to 1 ante the decimal:", round(my_float,-1))

round to 2 past the decimal: 34.85
round to 1 past the decimal: 34.8
round to 0 past the decimal: 35.0
round to 1 ante the decimal: 30.0

In [12]:
#Exponents and Commas
val_0 = 2.334567e20
print('round w/ exp:\t {:.3e}'.format(val_0)) #round with exponent

big_num = 1234454655.23   #too many digits
print("With commas:\t{:,}".format(big_num)) #just commas

val_1 = 123456.12387
print('combined:\t{:,.3f}'.format(val_1))  #with commans but float

round w/ exp:	 2.335e+20
With commas:	1,234,454,655.23
combined:	123,456.124

In [14]:
#changing base
val_2 = 29
print("decimal\t",val_2)   #print in decimal
print("hex\t 0x" + '{:x}'.format(val_2))  #print as a hex
print("hex\t 0x" + '{:X}'.format(val_2))  #print as a hex in Capital
print("octal\t 0o" + '{:o}'.format(val_2)) #prints octal
print("binary\t 0b" + '{:b}'.format(val_2)) #prints binary

decimal	 29
hex	 0x1d
hex	 0x1D
octal	 0o35
binary	 0b11101