In [18]:
mesg = "hello world"
mesg

'hello world'

In [19]:
print(mesg)

hello world

In [20]:
print(mesg,mesg)

hello world hello world

In [21]:
print(mesg+mesg)

hello worldhello world

In [22]:
print(mesg,"\n")
print(mesg)

hello world

hello world

In [23]:
from sys import exit

In [24]:
print("going to quit")
exit()
print("never got here")

going to quit

SystemExit:

In [25]:
help(exit)

Help on built-in function exit in module sys:

exit(status=None, /)
    Exit the interpreter by raising SystemExit(status).

    If the status is omitted or None, it defaults to zero (i.e., success).
    If the status is an integer, it will be used as the system exit status.
    If it is another kind of object, it will be printed and the system
    exit status will be one (i.e., failure).

In [26]:
a_val = ord('a')
print(a_val)

97

In [27]:
b_chr = chr(99)
print(b_chr)

c

In [29]:
answer = input("Enter a number : ")

Enter a number : 34

In [30]:
print(type(answer))

<class 'str'>

In [31]:
print(answer)

34

In [32]:
var_num = int(input("enter a new number : "))
print(type(var_num))
print(var_num)

enter a new number : 12
<class 'int'>
12

In [33]:
my_val = int(input("Give me a number : "))
if(my_val > 0 ):
    print("Got a good value!")
    if(my_val<5):
        print("very small")
    elif(my_val < 10 ):
        print("Its a kind of small!")
    elif(my_val < 100):
        print("Its is medium in size!")
    elif(my_val < 1000):
        print("It is a big one")
    else:
        print("Its a whooper :",my_val )

print("all done!")

Give me a number : 1000
Got a good value!
Its a whooper : 1000
all done!

In [34]:
#while loop
counter = 8
while(counter >= 0):
    print("count is now:",counter)
    counter -= 1
print("blast off!")

count is now: 8
count is now: 7
count is now: 6
count is now: 5
count is now: 4
count is now: 3
count is now: 2
count is now: 1
count is now: 0
blast off!

In [35]:
for index in range(0,12,2):
    print(index)

0
2
4
6
8
10

In [36]:
for i in range(10,0,-1):
    print(i)
else:
    print("finihsed the loop")

10
9
8
7
6
5
4
3
2
1
finihsed the loop

In [37]:
a= range

In [38]:
import numpy as np

In [39]:
a = np.arange(10,0,-1)
print(a)

[10  9  8  7  6  5  4  3  2  1]

In [40]:
my_rng = range(10)
print(my_rng)

range(0, 10)

In [41]:
print("the range is : ", my_rng)

the range is :  range(0, 10)

In [42]:
print("the list of my range is : ",list(my_rng))

the list of my range is :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
my_nums = np.arange(10)
print(my_nums)

[0 1 2 3 4 5 6 7 8 9]

In [44]:
for index in np.arange(0,1,0.1):
    print(index)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

In [45]:
print("linspace in a for loop")
for val in np.linspace(0,2,5):
    print(val)
print("enumerating ...")
alphs = ['a','b','c']
for index,val in enumerate(alphs):
    print(index,val)

linspace in a for loop
0.0
0.5
1.0
1.5
2.0
enumerating ...
0 a
1 b
2 c

In [46]:
#Creating list
my_list = []
print(my_list)

[]

In [47]:
#create a list with lots of different things in it
my_list = [1,4.5,"book",2-8j]
print(my_list)

[1, 4.5, 'book', (2-8j)]

In [48]:
for index in range(len(my_list)):
    print("Entry",index,"is",my_list[index])

Entry 0 is 1
Entry 1 is 4.5
Entry 2 is book
Entry 3 is (2-8j)

In [49]:
my_list.append("new thing")
print(my_list)

[1, 4.5, 'book', (2-8j), 'new thing']

In [50]:
#use extend to combine list
new_list = [0,8,11.2]
my_list.extend(new_list)
print(my_list)

[1, 4.5, 'book', (2-8j), 'new thing', 0, 8, 11.2]

In [51]:
#List Slicing
#index   0,1,2,3,4,5,6
alist = [1,2,3,4,5,6,7]   
print(alist)

alist_first = alist[0:1]
print(alist_first)

middle_new = alist[3:5]  #start:end,but end isn't included
print(middle_new)

first_few = alist[:2]
print(first_few)

last_few = alist[5:]
print(last_few)
print(alist)

[1, 2, 3, 4, 5, 6, 7]
[1]
[4, 5]
[1, 2]
[6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [52]:
#adding lists
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print("list added : ",list3)

#another way to extend a list
list1 += list2
print("Alternare way :", list1)

#insert puts in an element - lists are put in as lists
list2.insert(1,9)  # insert at position 1, value 9
print(list2)

list added :  [1, 2, 3, 4, 5, 6]
Alternare way : [1, 2, 3, 4, 5, 6]
[4, 9, 5, 6]

In [53]:
#Removing from list
print(my_list) #using my_list from above
last = my_list.pop()
print(last)
print(my_list)

third = my_list.pop(3)
print(third)
print(my_list)

[1, 4.5, 'book', (2-8j), 'new thing', 0, 8, 11.2]
11.2
[1, 4.5, 'book', (2-8j), 'new thing', 0, 8]
(2-8j)
[1, 4.5, 'book', 'new thing', 0, 8]

In [54]:
print(my_list) #using my_list from above
#take any item off the list and don't return it
del(my_list[1:3])
print(my_list) #using my_list from above

my_list.remove('new thing')
my_list

[1, 4.5, 'book', 'new thing', 0, 8]
[1, 'new thing', 0, 8]

[1, 0, 8]

In [55]:
#Negative Indices
print(my_list) #using my_list from above
print("mylist[-1] is: ",my_list[-1])
print("mylist[-2] is: ",my_list[-2])

[1, 0, 8]
mylist[-1] is:  8
mylist[-2] is:  0

In [56]:
#Changing Entries in Lists
new_list = [] #create an empty list
for index in range(10):
    new_list.append(index) # note you cant append toa list that does not exist
print(new_list)

#putting values into a list
x = 0
y = 1
z = 2

num_list = [x,y,z]
print(x,y,z,num_list)
x=4
print(x,y,z,num_list)  #num_list did not change

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0 1 2 [0, 1, 2]
4 1 2 [0, 1, 2]

In [57]:
#Copying list
#list1 = list2 does not create a new list, it just copies the pointer!
copy_list = []
copy_list = num_list
print(copy_list)

copy_list[1] = 89
print(copy_list)        #both same values
print(num_list)

num_list = [x,y,z] #revert back
print("Reverted change:",num_list)

#how to copy
copy_list = num_list.copy()
print("copied list Before change: ",copy_list)        #both different vlaue
copy_list[1] = 89
print("After change:", copy_list)        #both different vlaue
print("original list unchanged :", num_list)

[0, 1, 2]
[0, 89, 2]
[0, 89, 2]
Reverted change: [4, 1, 2]
copied list Before change:  [4, 1, 2]
After change: [4, 89, 2]
original list unchanged : [4, 1, 2]

In [58]:
#Other list functions
#mapping onto a list
float_list = list(map(float,num_list)) #applied float function to each item in list
print(float_list)

import numpy as np

num_list = [4.0, 1.0, 2.0]

# Using descriptive variable names instead of shadowing built-ins
total = np.sum(num_list)
length = len(num_list)

# If you need min or max:
easy_min = min(num_list)
easy_max = max(num_list)

print("sum is", total)
print("len is", length)
print("min is", easy_min)
print("max is", easy_max)

[4.0, 1.0, 2.0]
sum is 7.0
len is 3
min is 1.0
max is 4.0